@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #070707;
  --p1-color: #232323;
  --accent-color: #586ceb;
  --tx-color: #fefefe;
  --hl-color: #777777;
  --ico-color: #ee0000;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.125em;
  
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

