@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #070707;
  --p1-color: #232323;
  --accent-color: #586ceb;
  --tx-color: #fefefe;
  --hl-color: #777777;
  --ico-color: #ee0000;
}

html,
body {
  user-select: none;
  padding: 0;
  margin: 0;
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
